# Vim
*.swp
*.swo

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.backup
*.lock.hcl
*.tfvars

# OSX
.DS_Store

# Patch
*.orig
*.rej

# Project specifics
cloud-aws-connection/policies/*
